/* Set the basic background */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f9fb;
    font-family: 'Dosis', sans-serif;
}

/* For hiding other pages*/

.hide {
    display: none;
}

/* Header formatting */

.home {
    background-color: #5085a5;
    padding: 5rem 0;
    text-align: center;
}

.home h1 {
    font-size: 3rem;
    z-index: 0;
}


.header-contact {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.header-contact li {
    list-style: none;
}

/* Makes the logos at the bottom slide back and forth*/
.hover-shake:hover {
    animation-name: slide;
    animation-duration: 1s;
}

.header-contact a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    z-index: 0;
}

.header-contact a:hover {
    color: #31708e; 
    text-decoration: none;
}

/* Makes the top banner above everything else and things slide behind it*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.content {
    background-color: #747e85;
    padding: 50px;
}

.sticky + .content {
    padding-top: 1rem;
}

/* Set the header background*/
.header {
    background-color: #265077;
    align-content: center;
    padding: 3px;
    z-index: 99;
}

.header h1 {
    font-size: 1.5rem;
    padding-left: 0.75rem;
    color: #f7f9fb;
}

/* Set the navigation for the top header buttons to move around website*/
.main-nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    z-index: 99;
}

/*Remove the ul attributes from the top buttons*/
.main-nav__item {
    list-style: none;
    margin-right: 0.5rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #f7f9fb;
}

.main-nav__item a:hover {
    text-decoration: underline;
}


/* About Me section formatting*/

.aboutMe {
    margin: 1rem;
    color: #475b63;
}

.aboutMe__header {
    font-size: 2.25rem;
    color: black;
    margin-top: 1.5rem;
}

/* Position my image to the left of the scrollbox and make it the right size*/
.aboutMe__main-image {
    max-width: 30%;
    margin: 1.5rem 0rem;
}

/* This scrollbox will have my aboutme info and meet the scrollbox requirement*/

.scrollbox {
    position: absolute;
    width: 500px;
    height:400px;
    left: 50%;
    top: 24%;
    border:3px solid #265077;
    font:24px 'Dosis', sans-serif;
    overflow:auto;
    z-index: 0;
}

/* Projects formatting information */

.project-header {
    margin: 1rem;
    font-size: 2.25rem;
    color: black;
}

/* Give a little space between picute and header*/

.project-info h3 {
    margin: 1rem 0rem;
}

/* Remove bullets and underlines from the github link*/
.project-links__item {
    list-style: none;
}

.project-links__item a {
    text-decoration: none;
    color: black;
}

.project-links__item a:hover {
    text-decoration: underline;
}

/* Footer formatting*/

.footer {
    border-top: 1px solid #9B9987;
    padding: 1rem 1rem;
    color: #9B9987;
    font-size: .75rem;
}

.footer-contact {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Remove the bullet and list formatting from the footer ul elements*/
.footer-contact li {
    list-style: none;
}


.footer-contact a{
    color: #9B9987;
    text-decoration: none;
    font-size: 2rem;
}

/* Add some color when you hover over the links*/
.footer-contact a:hover{
    color: #31708e;
    text-decoration: none;
}

/* Adjust for the form page's footer*/
.footer-contact2 a{
    color: #9B9987;
    text-decoration: none;
    font-size: 2rem;
}



@media only screen and (min-width: 600px){
    body {
        max-width: 100%;
    }

    .home {
        background-color: #f1f1f1;
        height: 100%;
        padding: 140px 0;
        margin-bottom: 50px 0;
        text-align: center;
      }
    
    /* Adjust the z index so it will fall behind the top header*/
    .home h1 {
        font-size: 5rem;
        position: absolute;
        z-index: 98;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; 
        text-align: center;
    }
    
    /* Make formatting for the big title on the home page*/
    .big-title {
        position: absolute;
        z-index: 99;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; 
        text-align: center;
        font-size: 3rem;
        
    }
    
    /* Make formatting for the small title on the home page*/
    .mini-title {
        position: absolute;
        z-index: 99;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
        font-size: 2rem;
    }

    /* Adjust the button sizes*/
    .header-contact a{
        font-size: 2.5rem;
    }

    /* Make size and position of the top navigation buttons*/
    .main-nav {
        font-size: 1.5rem;
    }

    .main-nav__item {
        margin: 1rem 2rem;
    }

   .project-header {
        padding-top: 10px;
   }

    /* Move project info over to the right*/
    .project-info {
        padding: 0 1rem;
    }
    /*Make the size of project image smaller*/
    .project-image {
        max-height: 200px;
    }

}

/* Create the slide animation for the link bottons at the bottom of the page*/
@keyframes slide {
    0% 100% {
        transform: translate(-25%);
    }
    10% {
      transform: translate(25%);
    }
    25% {
      transform: translate(15%);
    }
    35% {
      transform: translate(-15%);
    }
  
    50% {
      transform: translate(5%);
    }
  
    75% {
      transform: translate(-5%);
    }
}

/* Make the slide from left for changing pages on the website*/
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0px);
    }
}

.onload-slideLeft{
    animation: 1s ease-out 0s 1 slideFromLeft;  
}

.onload-shake{
    animation: 3s ease-out 0s 1 slide;  
}

/* Set some formatting for the carousel pictures*/
.images {
    position: relative;
    left: 12.5%;
    background-position: 100% 100%;
    background: transparent no-repeat center center;
    opacity: 0.8;
}

/* Buttons for carousel */
.prev, .next {
  cursor: pointer;
  position: relative;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #31708e;
}
